attr==0.3.2
ConfigParser==7.2.0
cryptography==50.0.0
docutils==0.18.1
docutils==0.18.1
filelock==3.32.2
Flask==3.1.3
Flask_Login==0.6.3
HTMLParser==0.0.2
ipython==8.12.2
ipython==8.27.0
ipython==8.12.3
ipywidgets==7.8.1
jnius==1.1.0
keyring==24.3.1
matplotlib==3.7.5
mysql_connector_repackaged==0.3.1
numpy==1.24.4
Pillow==12.3.0
protobuf==7.35.1
pyOpenSSL==24.2.1
pyOpenSSL==26.4.0
redis==8.1.0
Sphinx==9.1.0
thread==2.0.6
torch==2.11.0
torch==2.4.1+cpu
torch==2.4.1
torch==2.8.0
torchvision==0.26.0
torchvision==0.19.1+cpu
torchvision==0.19.1
torchvision==0.23.0
tqdm==4.67.3
tqdm==4.67.1
tqdm==4.66.5
urllib3_secure_extra==0.1.0
Werkzeug==3.1.8
xmlrpclib==1.0.1
